@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>BetonMe</b> is all about betting!</p>
    <div><img src="~/images/the-ball-488714_1280.jpg" alt="logo" class="rounded-circle"/></div>
</div>
