
@model Event

<h2>@Model.Name</h2>

<div>
    <dl class="row">
        @foreach (var market in Model.Markets)
        {
            <partial name="_MarketBlock" model="market" />
        }
    </dl>
</div>